
#contactPage {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center;  
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;   
}


.contactPageTitle{
    margin: 1rem 0;
    font-size: 3rem;
}

.clientDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
    justify-content: center;
}

.clientImg{
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;
    flex-wrap: wrap;
}

.WorkImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;

}

.worksImg{
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}

.workBtn{
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
    

}

.workBtn:hover {
    background-color: #5ED3DA;  /* Lighter shade on hover */
    transform: scale(1.05);  /* Slight pop effect */
}
#clients{
    padding: 2rem;
}


.contactDesc{
    padding: 3rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm
{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;

}

.name,.email,.msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem ;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn{
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;

}

.links{
    display: flex;
    flex-wrap: wrap;
}

.link{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
    
}

@media screen and (max-width:585px){
    .worksImg{
        height: 48vw;
    }
}